## Sets (can hold unique values)

In [4]:
my_list = [1,2,3,4,1]
my_list

[1, 2, 3, 4, 1]

In [5]:
my_set = set(my_list)
my_set

{1, 2, 3, 4}

In [6]:
my_set = {1,2,3,1}
my_set

{1, 2, 3}

In [7]:
type(my_set)

set

In [8]:
my_set = set()
my_set

set()

In [9]:
my_set.add(1)
my_set

{1}

In [10]:
my_set.add(2)
my_set.add(1) #this will not be added because it is already in the set
my_set.add(3)
my_set

{1, 2, 3}

In [11]:
my_list_2 = list()
my_list_2 # empty list

[]

### Tuples - are immutables

In [9]:
my_tuble = (1, 2, 3, "A", 1, "A", "A")
print(my_tuble)

(1, 2, 3, 'A', 1, 'A', 'A')

In [10]:
my_tuble.count("A")

3

In [12]:
my_tuble.index("A")

3

In [1]:
mylist = [1,2,3,4,5,6,7]
mylist

[1, 2, 3, 4, 5, 6, 7]

### Range

In [2]:
range(20)

range(0, 20)

In [3]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
for number in list(range(20)):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for number in list(range(5,20)):
    print(number)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
for number in list(range(5,20,2)):
    print(number)

5
7
9
11
13
15
17
19

### enumerate

In [12]:
for number in enumerate(list(range(5,20,2))):
    print(number)

(0, 5)
(1, 7)
(2, 9)
(3, 11)
(4, 13)
(5, 15)
(6, 17)
(7, 19)

In [13]:
for (index, number) in enumerate(list(range(5,20,2))):
    print(f"{number} {index}")

5 0
7 1
9 2
11 3
13 4
15 5
17 6
19 7

### Random

In [15]:
from random import randint

In [16]:
randint(0, 1000)

998

In [17]:
randint(0, 1000)

944

In [18]:
from random import shuffle

In [19]:
random_list = list(range(0,20))

In [20]:
random_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
shuffle(random_list)

In [22]:
random_list

[9, 16, 3, 17, 7, 0, 18, 14, 10, 12, 6, 15, 8, 1, 4, 11, 2, 5, 13, 19]

### ZIP

In [25]:
sport_list = ["run", "swim", "basketball"]
sport_list

['run', 'swim', 'basketball']

In [26]:
calories = [100, 200, 500]
calories

[100, 200, 500]

In [29]:
days = ["monday", "thursday", "wednesday"]
days

['monday', 'thursday', 'wednesday']

In [30]:
new_list = list(zip(days, calories, sport_list))
new_list

[('monday', 100, 'run'),
 ('thursday', 200, 'swim'),
 ('wednesday', 500, 'basketball')]

In [1]:
list_letters = []
mystring = "metalica"
list_letters = [element for element in mystring]
list_letters

['m', 'e', 't', 'a', 'l', 'i', 'c', 'a']

In [8]:
numberlist = [number**2 for number in list(range(2, 20,2))]
numberlist

[4, 16, 36, 64, 100, 144, 196, 256, 324]